/* *APLICANDO FLEXBOX */

/*! HEADER */

.header .container {
   display: flex;
   align-items: center;
   /* se aplica espacio entre los elementos posicionandolos de punta  punta. */
   justify-content: space-between;
}

.header-nav {
   display: flex;
}

/* !NUESTROS CURSOS */

.contenido-principal-cursos {
   display: flex;
   flex-wrap: wrap;
}

.contenido-cursos {
   display: flex;
   width: 23%;
}

/* !VIDEO */

.contenido-principal-video .container {
   display: flex;
}

.contenido-video {
   text-align: center;
   display: flex;
   flex-direction: column;
}

.contenido-video-enlace {
   flex-grow: 2;
   margin: 1rem;
}

.contenido-video-list {
   flex-grow: 2;
}











/* ! MAPA DE CURSOS */

.footer-mapa-cursos-item-list {
   display: flex;
   flex-direction: column;
   height: 17rem;
   /* permite quebrar el contenido dependiendo de la altura del height definido */
   flex-wrap: wrap;
}

/* !FOOTER */

.footer-patrocinadores .container{
   display: flex;
   justify-content: space-between;
}

.footer-patrocinadores-list {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 70%;
   margin-right: 2.5%;
}

.footer-contacto fieldset {
   width: 25%;
}

.footer-contacto-fieldset {
   display: flex;
}

.cdc {
   width: 114px;
   height: auto;
}













/* ? Responsive Version Mobile */

@media(max-width: 768px) {


   .header .container {
      flex-direction: column;
      align-items: initial;
   }

   .header-nav {
      flex-direction: column;
   }

   .contenido-principal-cursos {
      flex-direction: column;
      /* align-items: initial; */
   }

   .contenido-cursos {
      width: 100%;
   }

   .footer-mapa-cursos-item-list {
      height: auto;
      flex-wrap: nowrap;
      padding: 0.6rem;
   }

   .footer-patrocinadores .container {
      flex-direction: column;
   }

   .footer-contacto {
      width: 100%;
      padding: 0.5rem;
   }

   .footer-patrocinadores-list {
      align-items: center;
      width: 100%;
      margin: 0;
   }

   .contenido-principal-cursos li {
      margin: 0.3rem;
   }

   .footer-contacto-fieldset {
      justify-content: center;
   }

   #header-app {
      order: -1;
   }

}